.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    /* background-color: rgba(242, 242, 242, 0.8); */
    padding: 20px;
    border-radius: 5px;
    /* color: #fff; */
    max-width: 400px;
  }
  
  .loading {
    font-size: 18px;
    font-weight: bold;
  }
  
  /* .error {
    color: red;
  }
   */
  .weather-info {
    margin-top: 20px;
  }
  
  .weather-info h2 {
    font-size: 24px;
  }
  
  .weather-info p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  body {
    background-image: url('./assets/Weather2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
 